# Core
Django==3.1
utils2devops>=0.1.4
#gunicorn==19.9.0
#newrelic==4.12.0.120

# Storages
psycopg2-binary==2.8.5

# Rest apis
djangorestframework==3.11.1
django-filter==2.3.0
dj-rest-auth==1.1.1

# AWS
boto3==1.14.49
botocore==1.17.49
s3transfer==0.3.3

# Dynamic Documentations
drf-yasg==1.17.1

# static documentation
pygments-pytest==2.1.0
Sphinx==3.2.1
readthedocs-sphinx-ext
requests==2.24.0
